﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Connexion</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Home"))
    {
        <div>
            <label for="cesi_mail">Email :</label>
            <input id="cesi_mail" name="cesi_mail"/>
            <label for="cesi_password">Mot de passe :</label>
            <input id="cesi_password" name="cesi_password"/>
            <button id="co_candidat" value="candidat">Connexion</button>
        </div>
    }
</body>
</html>
