﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Connexion</title>
</head>
<body>
    @using (Html.BeginForm("Connexion", "Home"))
    {
        <div>
            <input id="c_mail" value="" />
            <button id="co_candidat" value="co_candidat">Connexion</button>
        </div>
    }
</body>
</html>
