﻿@{
    Layout = null;
    Page.title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>

    <h1>Bienvenue à CESI</h1>
    <div>
        @using (Html.BeginForm("Connexion", "Home"))
        {
            <fieldset>
                <legend>Membre CESI ou Candidat</legend>
                <div>
                    <input name="submit" id="co_cesi" type="submit" value="MEMBRE"/>
                    <input name="submit" id="co_candidat" type="submit" value="CANDIDAT"/>
                </div>
            </fieldset>
         }
    </div>
    
    <!-- Pied de page-->
    <div>
        <p>Copyright CESI - Creation 2019</p>
    </div>

</body>
</html>
